[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
httpie = "*"
ipython = "*"
isort = "*"
pudb = "*"
pipfile = "*"

[packages]
django = "*"
isort = "*"
make = "*"
psycopg2-binary = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"], version = "*"}
whitenoise = "*"
boto3 = "*"
django-storages = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"
